.fill{
  min-height: 100vh;
  height: 100vh;
}

.espacioTitulo{ padding-bottom: 48px }

.player{
  display: none;
  width: 100%;
  height: 72px;
  padding-bottom: 16px;
}

.title{ 
  display: none;
  position: relative;
  height: 48px;
}

.title > div {
  position: absolute;
  width: 100%;
  bottom: 4px;
}