#playQueueList, #searchPanel {
    width: 90%;
    height: calc(100% - 75px);
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 75px;
    z-index: 10;
    transition: background-color 1s, color 1s;

    @media (min-width: 576px) {
        width: 288px;
    }

    @media (min-width: 768px) {
        width: 384px;
    }

    @media (min-width: 992px) {
        width: 384px;
    }

    @media (min-width: 1200px) {
        width: 400px;
    }

    .AppLight & {
        background-color: #d8d8d8;
    }

    .AppDark & {
        background-color: #181818;
    }

    &.list {
        overflow-y: scroll;
    }

    > h2 {
        user-select: none;
    }

    .edit-icon {
        position: absolute;
        top: 20px;
        right: 0;

        .edit-button,
        .clear-button {
            background: none;
            color: inherit;

            .material-icons {
                font-size: 16px;
            }

            &.active {
                .AppDark & {
                    background-color: #444;
                }

                .AppLight & {
                    background-color: #BBB;
                }
            }
        }
    }

    .list-container {
        margin-bottom: 100px;
        padding-left: 15px;
        padding-right: 15px;

        .reorder-icon {
            .material-icons { font-size: 18px; }

            .AppDark & {
                color: grey;
            }

            .AppLight & {
                color: #333;
            }
        }

        .delete-icon {
            transition: color .15s ease-in-out;

            .material-icons { font-size: 18px; }
            button { padding: 0; }

            .AppDark & {
                color: #999;
            }

            .AppLight & {
                color: #444;
            }

            .AppDark & button:hover {
                color: #E53935;
            }

            .AppLight & button:hover {
                color: #B71C1C;
            }

            .btn {
                background: none;
                color: inherit;
            }
        }
    }
}
