#playQueueList {
    width: 90%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 75px;
    transition: background-color 1s, color 1s;
    animation: PlayQueueAnimation1 .4s ease-in-out;

    @media (min-width: 576px) {
        width: 288px;
        animation: PlayQueueAnimation2 .4s ease-in-out;
    }

    @media (min-width: 768px) {
        width: 384px;
        animation: PlayQueueAnimation3 .4s ease-in-out;
    }

    @media (min-width: 992px) {
        width: 384px;
        animation: PlayQueueAnimation3 .4s ease-in-out;
    }

    @media (min-width: 1200px) {
        width: 400px;
        animation: PlayQueueAnimation4 .4s ease-in-out;
    }

    .AppLight & {
        background-color: #d8d8d8;
    }

    .AppDark & {
        background-color: #181818;
    }
}

@keyframes PlayQueueAnimation1 {
    from { right: -90% }
    to { right: 0 }
}

@keyframes PlayQueueAnimation2 {
    from { right: -288px }
    to { right: 0 }
}

@keyframes PlayQueueAnimation3 {
    from { right: -384px }
    to { right: 0 }
}

@keyframes PlayQueueAnimation4 {
    from { right: -400px }
    to { right: 0 }
}