@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

#AppContainer {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  transition: background-color 1s;
}

.AppDark {
  background-color: #222;
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px;
}

.AppLight{
  background-color: white;
  color: #222;
}

#AppHeader {
  height: 75px;
  padding: 20px;
  color: white;
  transition: background-color 1s;
}

#AppFooter {
  height: 75px;
  padding: 20px;
  transition: background-color 1s;
  bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}

#FooterContent {
  transition: background-color 1s;
  padding: 3px;
}

.AppDark .App-footer > a {
  color: #747474;
}

.AppDark .App-footer > a:hover {
  color: #505050;
  text-decoration: none;
}

.AppLight .App-footer > a {
  color: #5d5d5d;
}

.AppLight .App-footerLight > a:hover {
  color: #343434;
  text-decoration: none;
}

.AppDark .App-header { background-color: #535353; }

.AppLight .App-header { background-color: #222; }

.AppDark .App-footer { background-color: #181818; color: #979797; }

.AppLight .App-footer { background-color: #d8d8d8; color: #5e5e5e; }

#githubLogo{
  width: 30px;
  height: 30px;
  transition: filter 1s;
}

.loader {
  border-left: 4px solid #F6A532;
  border-top: 4px solid #234398;
  border-bottom: 4px solid #E94242;
  border-right: 4px solid #1CACAC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.25s linear infinite;
  margin-top: 35px;
  margin-bottom: 5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#githubLogo.githubDay { filter: invert(1); }

.App-title { font-size: 1.5em; }

.App-intro { font-size: large; }

.fill{
  min-height: 100vh;
  height: 100vh;
}

.espacioTitulo{ padding-bottom: 48px }

.player{
  width: 100%;
  height: 72px;
  padding-bottom: 16px;
}

.title{
  position: relative;
  height: 48px;
  overflow: hidden;
}

.error {
  color: #ff0000;
  border-radius: 10px;
  transition: background-color 1s;
  border-color: #ff0000;
}

.AppDark .error {
  background-color: #230000;
}

.AppLight .error {
  background-color: transparent;
}

.loading {
  right: 5px;
}

.title > #title {
  position: absolute;
  bottom: 4px;
  white-space: nowrap;
  min-width: 100%;
  height: 25px;
  margin: 0;
  transform: translateX(100%);
  animation: title 30s linear -15s infinite;
}

@keyframes title {
  0% { transform: translateX(100%) }
  35% { transform: translateX(0%) }
  65% { transform: translateX(0%) }
  100% { transform: translateX(-100%) }
}

#audioQuery { margin-top: 100px; }


#greyText{
  margin-top: 100px;
  font-size: 20px;
}

.AppLight .greyText {
  color: #575757;
  transition: color 1s;
}

.AppDark .greyText{
  color: dimgrey;
  transition: color 1s;
}

#stateText {
  margin-top: 35px;
  margin-bottom: 5px;
  transition: color 1s;
}

#changeSkinButton {
  position: fixed;
  top: 17.5px;
  right: 17.5px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 0px;
}

#NowPlaying {
  margin-bottom: 10px;
}

#arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right #arrow{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left #arrow{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#playQueue {
  position: fixed;
  bottom: 90px;
  right: 15px;
  transition: border 0.15s, left .4s ease-in-out, right .4s ease-in-out;
}

@media(max-width: 575px) {
  #playQueue.right {
    left: 15px;
  }
}

@media (min-width: 576px) {
    #playQueue.right{
      right: 303px;
    }
}

@media (min-width: 768px) {
  #playQueue.right{
    right: 399px;
  }
}

@media (min-width: 992px) {
  #playQueue.right{
    right: 399px;
  }
}

@media (min-width: 1200px) {
  #playQueue.right{
    right: 415px;
  }
}

.AppLight #playQueue:hover div#arrow{
  border-color: white;
}

.AppLight #arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
}

.AppDark #arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
}

.AppDark #playQueue:hover div#arrow{
  border-color: black;
}


.btn:focus {
  box-shadow: none;
}

/* Resonsive Design */

@media only screen and (max-width: 480px) {
  #changeSkinButton {
    position: absolute;
    top: 90px;
  }

  .btn-outline-dark {
    background-color: #FFF;
  }

  .btn-outline-light {
    background-color: #222;
  }

  .onoffmode:hover{
    background-color: #222;
    color: inherit;
  }

  #greyText{
    margin-top: 70px;
    font-size: 20px;
  }

  #audioQuery { margin-top: 50px; }

  .footer{
    display: none;
  }

}
